
xdg_config/zsh/.zhistory
xdg_config/zsh/plugins
xdg_config/zsh/themes
xdg_config/zsh/.*

xdg_config/vim/bundle/Vundle.vim
xdg_config/vim/bundle/base16-vim
xdg_config/vim/bundle/ctrlp.vim
xdg_config/vim/bundle/editorconfig-vim
xdg_config/vim/bundle/fonts
xdg_config/vim/bundle/syntastic
xdg_config/vim/bundle/tabular
xdg_config/vim/bundle/vim-airline-themes
xdg_config/vim/bundle/vim-airline
xdg_config/vim/bundle/vim-bazel
xdg_config/vim/bundle/vim-codefmt
xdg_config/vim/bundle/vim-coffee-script
xdg_config/vim/bundle/vim-colors-solarized
xdg_config/vim/bundle/vim-colorscheme-primary
xdg_config/vim/bundle/vim-commentary
xdg_config/vim/bundle/vim-cpp-enhanced-highlight
xdg_config/vim/bundle/vim-fugitive
xdg_config/vim/bundle/vim-glaive
xdg_config/vim/bundle/vim-go
xdg_config/vim/bundle/vim-javascript
xdg_config/vim/bundle/vim-maktaba
xdg_config/vim/bundle/vim-markdown
xdg_config/vim/bundle/vim-repeat
xdg_config/vim/bundle/vim-surround
xdg_config/vim/bundle/vim-unimpaired
xdg_config/vim/bundle/vim-virtualenv
